<form class="sta-body" autocomplete="off">
  {{> (concat templatePath "/item/_partials/ItemHeader.hbs") this }}

  <section class="properties border-left">
    <h1>{{localize "sta.item.properties"}}
      <label class="property equipped on-border">
        {{localize "sta.item.armor.equipped"}}
        <input class="form-control inner" name="system.equipped" {{checked sta.equipped}}
               type="checkbox" data-dtype="Boolean" />
      </label>
    </h1>

    <section class="property opportunity border-left">
      <h4>{{localize "sta.item.opportunity"}}</h4>
      <div class="scale-value">
        {{#range 0 settings.item.opportunity.max}}
          <label class="scale-pill
              {{#if (eq 0 i)}}success{{/if}}
            {{#if (eq ../sta.opportunity i)}}checked{{/if}}">
            {{i}}
            <input name="system.opportunity" type="radio" value="{{i}}" data-dtype="Number"
                   {{#if (eq ../sta.opportunity i)}}checked="checked"{{/if}} />
          </label>
        {{/range}}
      </div>
    </section>
    <section class="property escalation border-left">
      <h4>{{localize "sta.item.escalation"}}</h4>
      <div class="scale-value">
        {{#range 0 settings.item.escalation.max}}
          <label class="scale-pill
              {{#if (eq 0 i)}}success{{/if}}
            {{#if (eq ../sta.escalation i)}}checked{{/if}}">
            {{i}}
            <input name="system.escalation" type="radio" value="{{i}}" data-dtype="Number"
                   {{#if (eq ../sta.escalation i)}}checked="checked"{{/if}} />
          </label>
        {{/range}}
      </div>
    </section>

    <label class="property quantity form-number">
      <span class="label">{{localize "sta.quantity"}}</span>
      <input class="form-control" name="system.quantity" type="text" value="{{sta.quantity}}"
             data-dtype="Number" />
    </label>
    <label class="property uses form-number">
      <span class="label {{#if (eq sta.uses -1)}}infinite{{/if}}">{{localize "sta.uses"}}</span>
      <input class="form-control" name="system.uses" type="text" value="{{sta.uses}}" data-dtype="Number" />
    </label>
  </section>

  {{> (concat templatePath "/item/_partials/PropertyText.hbs")
    name="description" title="sta.item.description" value=sta.description}}
  {{> (concat templatePath "/item/_partials/PropertyText.hbs")
    name="rule" title="sta.item.rule" value=sta.rule}}

</form>
