<form class="sta-body" autocomplete="off">
  <section class="icon">
    <img src="{{sta.img}}" data-edit="img" title="{{sta.name}}" />
  </section>

  <section class="summary">
    <input class="control property name" name="name" type="text" value="{{sta.name}}" />
    {{#if item.actor}}
      <span class="owner">{{localize "sta.owner"}}: {{item.actor.name}}</span>
    {{/if}}
  </section>

  <section class="property description">
    <h2>{{localize "sta.item.description"}}</h2>
    <textarea class="form-control" name="system.description">{{sta.description}}</textarea>
  </section>

</form>
