<form class="sta-body" autocomplete="off">

  <section class="icon">
    <img src="{{actor.img}}" data-edit="img" title="{{actor.name}}" />
  </section>

  <section class="summary">
    <section class="property reputation border-left">
      {{#with sta.reputation}}
        <h3>{{localize "sta.character.reputation"}}</h3>
        <div class="scale-value">
          {{#range 0 max}}
            <label class="scale-pill
              {{#if (eq 0 i)}}error{{/if}}
              {{#if (eq ../value i)}}checked{{/if}}">
              {{i}}
              <input name="system.reputation" type="radio" value="{{i}}" data-dtype="Number"
                     {{#if (eq ../value i)}}checked="checked"{{/if}} />
            </label>
          {{/range}}
        </div>
      {{/with}}
    </section>
    <label class="property name">
      <span class="label">{{localize "sta.character.name"}}</span>
      <input name="name" type="text" value="{{sta.name}}" tabindex="1" />
    </label>
    <label class="property rank">
      <span class="label">{{localize "sta.character.rank"}}</span>
      <input name="system.rank" type="text" value="{{sta.rank}}" tabindex="1" />
    </label>
    <label class="property assignment">
      <span class="label">{{localize "sta.character.assignment"}}</span>
      <input name="system.assignment" type="text" value="{{sta.assignment}}" tabindex="1" />
    </label>
    <label class="property species">
      <span class="label">{{localize "sta.character.species"}}</span>
      <input name="system.species" type="text" value="{{sta.species}}" tabindex="1" />
    </label>
    <label class="property environment">
      <span class="label">{{localize "sta.character.environment"}}</span>
      <input name="system.environment" type="text" value="{{sta.environment}}" tabindex="1" />
    </label>
    <label class="property upbringing">
      <span class="label">{{localize "sta.character.upbringing"}}</span>
      <input name="system.upbringing" type="text" value="{{sta.upbringing}}" tabindex="1" />
    </label>

    <div class="scale-selection roll-d6">
      <label>{{localize "sta.challenge._singular"}}</label>
      {{#range 1 settings.maxD6}}
        <a class="control roll scale-pill" data-roll="d6" data-value="{{i}}">{{i}}</a>
      {{/range}}
    </div>
    <div class="scale-selection roll-d20">
      <label>{{localize "sta.task._singular"}}</label>
      <a class="control roll scale-pill fatal" data-roll="d20" data-value="1">1</a>
      <a class="control roll scale-pill success" data-roll="d20" data-value="2">2</a>
      <a class="control roll scale-pill info" data-roll="d20" data-value="3">3</a>
      <a class="control roll scale-pill warn" data-roll="d20" data-value="4">4</a>
      <a class="control roll scale-pill error" data-roll="d20" data-value="5">5</a>
    </div>
  </section>

  <section class="status border-left">
    <h1>{{localize "sta.status._plural"}}</h1>

    <section class="property determination border-left">
      {{#with sta.determination}}
        <h3>{{localize "sta.character.determination"}}</h3>
        <div class="scale-value">
          {{#range 0 max}}
            <label class="scale-pill
              {{#if (eq 0 i)}}warn{{/if}}
              {{#if (eq ../value i)}}checked{{/if}}">
              {{i}}
              <input name="system.determination" type="radio" value="{{i}}" data-dtype="Number"
                     {{#if (eq ../value i)}}checked="checked"{{/if}} />
            </label>
          {{/range}}
        </div>
      {{/with}}
    </section>

    <section class="property stress border-left">
      {{#with sta.stress}}
        <h3>{{localize "sta.character.stress"}}</h3>
        <div class="scale-value">
          {{#range 0 max}}
            <label class="scale-pill
              {{#if (eq 0 i)}}error{{/if}}
              {{#if (eq ../value i)}}checked{{/if}}">
              {{i}}
              <input name="system.stress" type="radio" value="{{i}}" data-dtype="Number"
                     {{#if (eq ../value i)}}checked="checked"{{/if}} />
            </label>
          {{/range}}
        </div>
      {{/with}}
    </section>

    <section class="injuries border-left">
      <h2>
        {{localize "sta.item.injury._plural"}}
        <a class="control flex-last create" title="{{localize "sta.item.injury.create"}}" data-type="injury">
          <i class="fas fa-plus"></i>
        </a>
      </h2>
      <ol class="list">
        {{#each sta.injuries}}
          <li class="item" data-item-id="{{_id}}">
            <img class="icon" src="{{img}}" title="{{name}}" width="24" height="24" />
            <div class="name">{{name}}</div>
            <div class="controls">
              <a class="control edit" title="{{localize "sta.item.injury.edit"}}"><i class="fas fa-edit"></i></a>
              <a class="control delete" title="{{localize "sta.item.injury.delete"}}"><i class="fas fa-trash"></i></a>
            </div>
            <div class="description">{{description}}</div>
          </li>
        {{/each}}
        {{^sta.injuries}}
          <li class="item">{{localize "sta.item.injury.empty"}}</li>
        {{/sta.injuries}}
      </ol>
    </section>
  </section>

  <section class="attributes edge-right-down reversed">
    <h1 class="reverse">{{localize "sta.character.attributes._plural"}}</h1>
    {{#each sta.attributes as |value name|}}
      <label class="property attribute attribute-{{name}} reverse">
        <input class="inner select" name="selected.attribute" type="radio" value={{name}}"">
        <input class="inner form-control" name="system.attributes.{{name}}" type="text" value="{{value}}"
               data-dtype="Number" tabindex="2" />
        <span class="label">{{localize (concat "sta.character.attributes." name)}}</span>
      </label>
    {{/each}}
  </section>

  <section class="disciplines edge-left-down">
    <h1>{{localize "sta.character.disciplines._plural"}}</h1>
    {{#each sta.disciplines as |value name|}}
      <label class="property discipline discipline-{{name}}">
        <input class="inner select" name="selected.discipline" type="radio" value="{{name}}">
        <input class="inner form-control" name="system.disciplines.{{name}}" type="text" value="{{value}}"
               data-dtype="Number" tabindex="3" />
        <span class="label">{{localize (concat "sta.character.disciplines." name)}}</span>
      </label>
    {{/each}}
  </section>

  <section class="talents border-left">
    <h2>
      {{localize "sta.item.talent._plural"}}
      <a class="control flex-last create" title="{{localize "sta.item.talent.create"}}" data-type="talent">
        <i class="fas fa-plus"></i>
      </a>
    </h2>
    <ol class="list">
      {{#each sta.talents}}
        <li class="item" data-item-id="{{_id}}">
          <img class="icon" src="{{img}}" title="{{name}}" width="24" height="24" />
          <div class="name">{{name}}</div>
          <div class="controls">
            <a class="control edit" title="{{localize "sta.item.talent.edit"}}"><i class="fas fa-edit"></i></a>
            <a class="control delete" title="{{localize "sta.item.talent.delete"}}"><i class="fas fa-trash"></i></a>
          </div>
          <div class="description">{{description}}</div>
        </li>
      {{/each}}
      {{^sta.talents}}
        <li class="item">{{localize "sta.item.talent.empty"}}</li>
      {{/sta.talents}}
    </ol>
  </section>

  <section class="values border-left">
    <h2>
      {{localize "sta.item.value._plural"}}
      <a class="control flex-last create" title="{{localize "sta.item.value.create"}}" data-type="value">
        <i class="fas fa-plus"></i>
      </a>
    </h2>
    <ol class="list">
      {{#sta.values}}
        <li class="item" data-item-id="{{_id}}">
          <img class="icon" src="{{img}}" title="{{name}}" width="24" height="24" />
          <div class="name">{{name}}</div>
          <div class="controls">
            <a class="control edit" title="{{sta.value.edit}}"><i class="fas fa-edit"></i></a>
            <a class="control delete" title="{{sta.value.delete}}"><i class="fas fa-trash"></i></a>
          </div>
          <div class="description">{{description}}</div>
        </li>
      {{/sta.values}}
      {{^sta.values}}
        <li class="item">{{localize "sta.item.value.empty"}}</li>
      {{/sta.values}}
    </ol>
  </section>

  <section class="focuses border-left">
    <h2>
      {{localize "sta.item.focus._plural"}}
      <a class="control flex-last create" title="{{localize "sta.item.focus.create"}}" data-type="focus">
        <i class="fas fa-plus"></i>
      </a>
    </h2>
    <ol class="list">
      {{#sta.focuses}}
        <li class="item" data-item-id="{{_id}}">
          <img class="icon" src="{{img}}" title="{{name}}" width="24" height="24" />
          <div class="name">{{name}}</div>
          <div class="controls">
            <a class="control edit" title="{{localize "sta.item.focus.edit"}}"><i class="fas fa-edit"></i></a>
            <a class="control delete" title="{{localize "sta.item.focus.delete"}}"><i class="fas fa-trash"></i></a>
          </div>
          <div class="description">{{description}}</div>
        </li>
      {{/sta.focuses}}
      {{^sta.focuses}}
        <li class="item">{{localize "sta.item.focus.empty"}}</li>
      {{/sta.focuses}}
    </ol>
  </section>

  <section class="progress border-left">
    <h1>{{localize "sta.character.progress"}}</h1>
    <section class="traits border-left">
      <h2>
        {{localize "sta.item.trait._plural"}}
        <a class="control flex-last create" title="{{localize "sta.item.trait.create"}}" data-type="trait">
          <i class="fas fa-plus"></i>
        </a>
      </h2>
      <ol class="list">
        {{#sta.traits}}
          <li class="item" data-item-id="{{_id}}">
            <img class="icon" src="{{img}}" title="{{name}}" width="24" height="24" />
            <div class="name">{{name}}</div>
            <div class="controls">
              <a class="control edit" title="{{localize "sta.item.trait.edit"}}"><i class="fas fa-edit"></i></a>
              <a class="control delete" title="{{localize "sta.item.trait.delete"}}"><i class="fas fa-trash"></i></a>
            </div>
            <div class="description">{{description}}</div>
          </li>
        {{/sta.traits}}
        {{^sta.traits}}
          <li class="item">{{localize "sta.item.trait.empty"}}</li>
        {{/sta.traits}}
      </ol>
    </section>

    <section class="milestones border-left">
      <h2>
        {{localize "sta.item.milestone._plural"}}
        <a class="control flex-last create" title="{{localize "sta.item.milestone.create"}}" data-type="milestone">
          <i class="fas fa-plus"></i>
        </a>
      </h2>
      <ol class="list">
        {{#sta.milestones}}
          <li class="item" data-item-id="{{_id}}">
            <img class="icon" src="{{img}}" title="{{name}}" width="24" height="24" />
            <div class="name">{{name}}</div>
            <div class="controls">
              <a class="control edit" title="{{localize "sta.item.milestone.edit"}}"><i class="fas fa-edit"></i></a>
              <a class="control delete" title="{{localize "sta.item.milestone.delete"}}"><i
                class="fas fa-trash"></i></a>
            </div>
            <div class="description">{{description}}</div>
          </li>
        {{/sta.milestones}}
        {{^sta.milestones}}
          <li class="item">{{localize "sta.item.milestone.empty"}}</li>
        {{/sta.milestones}}
      </ol>
    </section>

    <section class="notes border-left">
      <h2>{{localize "sta.notes._plural"}}</h2>
      {{editor sta.notes target="system.notes" button=true owner=owner editable=editable}}
    </section>
  </section>


  <section class="equipment border-left">
    <h1>{{localize "sta.item.item._plural"}}</h1>
    <section class="weapons border-left">
      <h2>
        {{localize "sta.item.characterweapon._plural"}}
        <a class="control flex-last create" title="{{localize "sta.item.characterweapon.create"}}"
           data-type="characterweapon">
          <i class="fas fa-plus"></i>
        </a>
      </h2>
      <ol class="list">
        {{#sta.weapons}}
          <li class="item" data-item-id="{{_id}}">
            <img class="icon" src="{{img}}" title="{{name}}" width="24" height="24" />
            <div class="name">{{name}}</div>
            <div class="range">{{range}}</div>
            <div class="damage">{{damage}}</div>
            <div class="controls">
              <a class="control edit" title="{{localize "sta.item.characterweapon.edit"}}">
                <i class="fas fa-edit"></i>
              </a>
              <a class="control delete" title="{{localize "sta.item.characterweapon.delete"}}">
                <i class="fas fa-trash"></i>
              </a>
            </div>
            <div class="description">{{description}}</div>
          </li>
        {{/sta.weapons}}
        {{^sta.weapons}}
          <li class="item">{{localize "sta.item.characterweapon.empty"}}</li>
        {{/sta.weapons}}
      </ol>
    </section>
    <section class="armor border-left">
      <h2>
        {{localize "sta.item.armor._plural"}}
        <a class="control flex-last create" title="{{localize "sta.item.armor.create"}}" data-type="armor"><i
          class="fas fa-plus"></i></a>
      </h2>
      <ol class="list">
        {{#sta.armor}}
          <li class="item" data-item-id="{{_id}}">
            <img class="icon" src="{{img}}" title="{{name}}" width="24" height="24" />
            <div class="name">{{name}}</div>
            <div class="protection">{{protection}}</div>
            <div class="controls">
              <a class="control edit" title="{{localize "sta.item.armor.edit"}}"><i class="fas fa-edit"></i></a>
              <a class="control delete" title="{{localize "sta.item.armor.delete"}}"><i class="fas fa-trash"></i></a>
            </div>
            <div class="description">{{description}}</div>
          </li>
        {{/sta.armor}}
        {{^sta.armor}}
          <li class="item">{{localize "sta.item.armor.empty"}}</li>
        {{/sta.armor}}
      </ol>
    </section>
    <section class="items border-left">
      <h2>
        {{localize "sta.item.item._plural"}}
        <a class="control flex-last create" title="{{localize "sta.item.item.create"}}" data-type="item">
          <i class="fas fa-plus"></i>
        </a>
      </h2>
      <ol class="list">
        {{#sta.items}}
          <li class="item" data-item-id="{{_id}}">
            <img class="icon" src="{{img}}" title="{{name}}" width="24" height="24" />
            <div class="name">{{name}}</div>
            <div class="uses">{{uses}}</div>
            <div class="controls">
              <a class="control edit" title="{{localize "sta.item.item.edit"}}"><i class="fas fa-edit"></i></a>
              <a class="control delete" title="{{localize "sta.item.item.delete"}}"><i class="fas fa-trash"></i></a>
            </div>
            <div class="description">{{description}}</div>
          </li>
        {{/sta.items}}
        {{^sta.items}}
          <li class="item">{{localize "sta.item.item.empty"}}</li>
        {{/sta.items}}
      </ol>
    </section>
  </section>


</form>
