<form class="sta-task-roll">
  <label class="property form-flag property focus reverse">
    <input class="form-control flag" name="focus" type="checkbox"
           {{#if roll.focus}}checked="checked"{{/if}} />
    <span class="label">{{localize "sta.roll.focus"}}</span>
  </label>
  <label class="property form-flag property determination reverse">
    <input class="form-control flag" name="determination" type="checkbox"
           {{#if roll.determination}}checked="checked"{{/if}} />
    <span class="label">{{localize "sta.roll.determination"}}</span>
  </label>

  <section class="property complication border-left">
    <h4>{{localize "sta.roll.complication._singular"}}</h4>
    <div class="scale-value">
      {{#range 1 settings.maxComplication}}
        <label class="scale-pill">
          {{i}}
          <input name="complication" type="radio" value="{{i}}" data-dtype="Number"
                 {{#if (eq ../roll.complication i)}}checked="checked"{{/if}} />
        </label>
      {{/range}}
    </div>
  </section>

  <section class="property dicePool border-left">
    <h4>{{localize "sta.roll.dicePool"}}</h4>
    <div class="scale-value">
      {{#range 1 settings.maxTaskPool}}
        <label class="scale-pill">
          {{i}}
          <input name="dicePool" type="radio" value="{{i}}" data-dtype="Number"
                 {{#if (eq ../roll.dicePool i)}}checked="checked"{{/if}} />
        </label>
      {{/range}}
    </div>
  </section>

</form>
