<li class="item" data-item-id="{{id}}">
  <img class="icon control roll" data-roll="weapon" src="{{img}}" title="{{name}}" width="24" height="24" />
  <div class="name">{{name}}</div>
  <div class="controls">
    <a class="control edit" title="{{localize "sta.item.characterweapon.edit"}}">
      <i class="fas fa-edit"></i>
    </a>
    <a class="control delete" title="{{localize "sta.item.characterweapon.delete"}}">
      <i class="fas fa-trash"></i>
    </a>
  </div>
  <div class="description">{{description}}</div>
</li>