<h{{onEmpty h 3}}>
  {{localize (concat "sta.item." type "._plural")}}
  <a class="control flex-last create" title="{{localize (concat "sta.item." type ".create")}}" data-type="{{type}}">
    <i class="fas fa-plus"></i>
  </a>
</h{{onEmpty h 3}}>
<ol class="item-list list-{{type}}">
  {{#each list}}
    <li class="item item-{{../type}}" data-item-id="{{id}}" data-item-type="{{../type}}">
      {{> (tplPath (onEmpty ../template "item/GenericListItem")) item=this type=../type actor=../actor }}
    </li>
  {{/each}}
  {{^list}}
    <li class="item">{{localize (concat "sta.item." type ".empty")}}</li>
  {{/list}}
</ol>