<div class="roll-dice">
  {{log "roll-dice" this}}
  {{#each rolls}}
    {{#each this}}
      <label class="roll {{classes}} d{{faces}}">
        {{value}}
        {{#if rerollable}}
          <input class="reroll" type="checkbox" name="reroll-{{@../index}}-{{@index}}" />
        {{/if}}
      </label>
    {{/each}}
  {{/each}}
</div>