<section class="message-content border-left">
  <h3 class="roll-formula">
    {{localize "sta.roll.task._singular"}} {{formula}} &lt;= {{staData.target}}
  </h3>
  <div class="columns">
    <div class="roll-dice">
      {{#each tooltip.rolls}}
        <label class="roll {{classes}} d20">
          {{value}}
          <input class="reroll" type="checkbox" name="reroll-{{@index}}" />
        </label>
      {{/each}}
    </div>
    <div class="rows">
      <span class="roll-data">
        {{ifThen tooltip.attribute (localize (concat "sta.attribute." tooltip.attribute)) ""}}
        {{ifThen tooltip.system (localize (concat "sta.system." tooltip.system)) ""}}
        +
        {{ifThen tooltip.discipline (localize (concat "sta.discipline." tooltip.discipline)) ""}}
        {{ifThen tooltip.department (localize (concat "sta.department." tooltip.department)) ""}}
      </span>
      <div class="roll-result">
        <span class="successes">
          <span class="tiny">{{localize "sta.roll.success._plural"}}:</span>
          {{staData.result.successes}}
        </span>
        {{#if staData.result.complications}}
          <span class="complications">
            <span class="tiny">{{localize "sta.roll.complication._plural"}}:</span>
            {{staData.result.complications}}
          </span>
        {{/if}}
      </div>
    </div>
  </div>
</section>
<section class="message-actions">
  <button data-action="reroll">{{localize "sta.roll.rereoll"}}</button>
</section>
