<section class="property {{field}} border-left">
  <{{h}}>{{localize title}}
    <a class="control text flex-last" data-field="system.{{field}}" data-title="{{title}}">
      <i class="fas fa-edit"></i>
    </a>
  </{{h}}>
  <div class="rich-text">{{{lookup sta field}}}</div>
</section>