<div class="sta-app resource-tracker">
  {{#each resources as |resource name|}}
    <section class="tracker tracker-{{name}}">
      <h3>
        {{localize (concat 'sta.tracker.' name)}}
        <a class="{{#if resource.minus}}control{{/if}} adjust" data-resource="{{name}}" data-delta="-1">
          <i class="fas fa-minus"></i>
        </a>
        <input type="text" class="form-control" value="{{resource.value}}" data-dtype="Number" disabled />
        <a class="{{#if resource.plus}}control{{/if}} adjust" data-resource="{{name}}" data-delta="1">
          <i class="fas fa-plus"></i>
        </a>
      </h3>
    </section>
  {{/each}}
</div>
