<img class="icon control roll" data-roll="weapon" src="{{item.img}}" title="{{item.name}}" width="24" height="24" />
<div class="name">{{item.name}}</div>
{{#if item.range}}
  <div class="range" title="{{localize "sta.range._singular"}}">
    {{localize (concat "sta.range." item.range)}}
  </div>
{{/if}}
<div class="damage" title="{{localize "sta.damage.dice"}}">
  {{item.damage}}
  +<span title="{{localize "sta.scale"}}">{{actor.scale}}</span>
  +<span title="{{localize "sta.departments.security"}}">{{actor.departments.security}}</span>
</div>
<div class="controls">
  {{> (tplPath "item/_partials/ListItemDefaultActions") item=item type=type }}
</div>
{{#if item.description }}
  <div class="description tooltip-container hide">{{item.description}}</div>
{{/if}}
