<form class="sta-body" autocomplete="off">
  <section class="icon">
    <img src="{{item.img}}" data-edit="img" title="{{item.name}}" />
  </section>

  <section class="summary">
    <input class="control property name" name="name" type="text" value="{{data.name}}" />
  </section>

  <section class="properties border-left">
    <section class="property damage border-left">
      <h3>{{localize "sta.item.damage"}}</h3>
      <div class="scale-value">
        {{#range 0 settings.item.characterweapon.damage.max}}
          <label class="scale-pill {{#if (eq ../sta.damage i)}}checked{{/if}}">
            {{i}}
            <input name="system.damage" type="radio" value="{{i}}" data-dtype="Number"
                   {{#if (eq ../sta.damage i)}}checked="checked"{{/if}} />
          </label>
        {{/range}}
      </div>
    </section>
    <section class="property range border-left">
      <h3>{{localize "sta.range._singular"}}</h3>
      <div class="scale-value">
        {{#each settings.ranges}}
          <label class="scale-pill {{#if (eq ../sta.range this)}}checked{{/if}}">
            {{localize (concat "sta.range." this)}}
            <input name="system.range" type="radio" value="{{this}}"
                   {{#if (eq ../sta.range this)}}checked="checked"{{/if}} />
          </label>
        {{/each}}
      </div>
    </section>
  </section>


  <section class="qualities border-left">
    <h1 class="">
      {{localize "sta.item.properties"}}
    </h1>
    <div>
      {{#each qualityFlags as |value name|}}
        <label class="quantity {{#if value}}checked{{/if}}">
          {{localize (concat "sta.item.characterweapon.quality." name)}}
          <input name="system.qualities.{{name}}" type="checkbox"
                 {{#if value}}checked="checked"{{/if}} />
        </label>
      {{/each}}
    </div>
    <div>
      {{#each qualityQuantities as |value name|}}
        <label class="quantity">
          {{localize (concat "sta.item.characterweapon.quality." name)}}
          <input name="system.qualities.{{name}}" type="checkbox" value="{{value}}" />
        </label>
      {{/each}}
    </div>
  </section>

  <section>
    <section class="property description">
      <h2>{{localize "sta.item.description"}}</h2>
      <textarea class="form-control" name="system.description">{{data.system.description}}</textarea>
    </section>
    <section class="property rules">
      <h2>{{localize "sta.item.rules"}}</h2>
      <textarea class="form-control" name="system.rules">{{data.system.rules}}</textarea>
    </section>
  </section>

</form>
