<div class="dice-roll">
  {{#if flavor}}
    <div class="dice-flavor">{{flavor}}</div>
  {{/if}}
  <div class="dice-result">
    <div class="dice-formula">
      {{localize "sta.item.characterweapon.roll"}} {{formula}}
      {{localize "sta.actions"}}:&nbsp;<span class="actions-simple">{{staData.actions.simple}}</span>/<span
      class="actions-task">{{staData.actions.task}}</span>
    </div>
    <section class="tooltip-part">
      <div class="dice">
        <ol class="dice-rolls">
          {{#each tooltip.rolls}}
            <li class="roll {{classes}}">{{{value}}}</li>
          {{/each}}
        </ol>
      </div>
    </section>
    <h4 class="dice-total">
      <span class="successes">
        {{localize "sta.roll.success._plural"}}:
        {{staData.result.successes}}
      </span>
      {{#if staData.result.effects}}
        <span class="complications">
          {{localize "sta.roll.effect._plural"}}:
          {{staData.result.effects}}
        </span>
      {{/if}}
    </h4>
    <section class="qualities">
      {{#each staData.source.qualities as |value name|}}
        {{#if value}}
          <span class="quality">{{localize (concat "sta.quality." name) X=value}}</span>
        {{/if}}
      {{/each}}
    </section>
    <div class="actions">
      <button data-action="applyDamage">Damage!</button>
    </div>
  </div>
</div>
